[submodule "monty"]
	path = monty
	url = https://github.com/MelissaN/monty
[submodule "0x18-stacks_queues_lifo_fifo/monty"]
	path = 0x18-stacks_queues_lifo_fifo/monty
	url = git@github.com:MelissaN/monty.git
